*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 .container1{
   background-color:#316DC3;
 }
 
 /* a{
    margin: 5px;
 } */
 
 .container-fluid .row{
   justify-content: center;
   align-items: center;
   
 }
 
 .row p{
   margin: 12px auto;
   
 }
 
 button{
   border:none;
   font-size: 12px;
   color:green;
   padding:4px;
 }


 
 
 
 @media (max-width:988px)
 {
   button{
     border:none;
     font-size: 12px;
     color:green;
     padding:4px;
     margin:10px;
     
 
   }
 
 
 
   .image{
     margin-top:10px;
   }
 }
 
 .logo{
   height: 65px;
   width: 170px;
   
 }
 



 
  ul li :hover{
    background-color: #316DC3;
    color:white !important;
    border-radius: 20px;
    transition: 0.5s;
  }

  .navbar{
    font-weight: bold;
  }

  .container1 h1{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 4px;
  }

.marquee1{
  background-color:#316DC3;
  color:white;

 
  
}

.marquee1 a{
  color:purple;
}


.intro{
   display: flex;
   justify-content: center;
}

.mcolor{
  color:#00FF00;
}

.statscolor{
  background: rgba(36,79,242,0.8);
  padding:80px;

  
}

.stathfont{
  font-size: 50px;
}

.rowmargin{
  margin: 0 60px;
}

@media (max-width:990px)
{
  .itemmargin{
    margin:30px;
  }
}


@media ( max-width:991px)
{
  ul li :hover{
    background-color: #316DC3;
    color:white !important;
    border-radius: 0px;
    transition: 0.5s;
    
  }
}


.cardmargin{
  margin-top: 15px;
}

.cardcolor{
  background-color: white;
  box-shadow: 0px 0px 15px   gray;
 padding: 24px;
 margin:0px 10px 0px 10px;
}

.cardmargin2{
  margin-top: 45px;
}

@media (max-width:767px)
{

  .cardcolor{
    background-color: white;
    box-shadow: 0px 0px 15px   gray;
   padding: 15px;
     margin: 10px 30px;

  }

  
}

@media (max-width:416px)

{
  .itemmargin{
    margin:20px;
  }

  .statscolor{
    background: rgba(36,79,242,0.8);
    padding:2px;
  
    
  }
}

@media (max-width:990px)
{
  .statscolor{
    background: rgba(36,79,242,0.8);
    padding:30px;
  
    
  }

  .itemmargin{
    margin:1px;
  }

  .margin990{
    margin-top: 16px;
  }
}

@media (max-width:771px)
{
  .statscolor{
    background: rgba(36,79,242,0.8);
    padding:10px;
  
    
  }
  .itemmargin{
    margin:1px;
  }

  .margin990{
    margin-top: 16px;
  }
  
}


/* section 4 styling */




.sec4div1 h4 {
  margin-left: 34px;
 
}



.inline h6{
  display: inline;
}

 .pd{
   padding: 25px 40px;
 }

 .pd h6{
   margin-left: 30px;
 }
.sec4div1 .border{
  border: 1px gray;
  margin: 15px;
}


.sec4div1 .row{
  margin-left: 20px;
}

.color{
  color: #316DC3;
}

.marquee2{

  width: 250px;
  height: 220px;
  margin-top: 18px;
}


@media (max-width:1171px)

{
  .pd{
    padding: 20px 21px;
  }
}

@media (max-width:989px)
{
  .pd{
    padding: 40px 40px;
  }

  .sec4div2 h4{
    margin-left: 40px;
  }

  .marquee2{
    margin-left: 40px;
  }
  
}


/* @media (max-width:767px)
{

  .pd{
    padding: 20px 70px;
  }   

  .sec4cnt{
    margin: 0px 70px;
  }

} */


@media (max-width:759px)

{

  .sec4cnt{
    margin-left: 20px;
    
}




}

@media (max-width:583px)
{

  .sec4cnt{
    margin-left: 10px;
    
}




}


@media (max-width:559px)

{
  .sec4cnt{
    margin-right:30px;
    
}

.pd{
  padding: 30px 30px;
}

.sec4cnt .row{
  margin: 30px;
}

}


@media (max-width:476px)


{
  .pd{
    padding: 10px 10px;
  }
}



@media (max-width:436px)

{
  .pd{
    padding: 8px 8px;
  }

 
  
}


@media (max-width: 559px)

{

  .pd{
    padding: 10px 1px;
  }
  .sec4div1 h4 {
    margin-left: 1px;
   
  }
  
  .pd h6{
    margin-left: 10px;
  }
 .sec4div1 .border{
   border: 1px gray;
   margin: 10px;
 }
 
 
 .sec4div1 .row{
   margin-left: 1px;
 }
 
 .color{
   color: #316DC3;
 }
 
 .marquee2{
 
   width: 250px;
   height: 220px;
   margin-top: 10px;
 }
  
}


@media (max-width: 558px)
{
  .sec4div2 h4{

    margin-left: 3px;

  }
  .marquee2{
    margin-left: 3px;
  }
}


@media (max-width: 497px)
{
  .pd{
    padding: 0px 4px;
  }

  .sec4cnt .row{
    margin: 1px;
  }
}


/* image gallery section */

.imggal{
  width: 200px;
  height: 150px;
}


@media (max-width: 991px)
{
  .imggal{
    width:350px;
    height: 300px;
    margin: 3px;
  }
}


  @media (max-width: 767px)
{
  .imggal{
    width:730px;
    height: 500px;
    margin: 6px;
  }

}


  @media (max-width: 427px)
{
  .imggal{
    width:730px;
    height: 300px;
    margin: 6px;
  }
}
  

@media (max-width: 355px)
{
  .imggal{
    width:730px;
    height:200px;
    margin: 6px;
  }
}
  

.homeactive {
 background-color: #316DC3 !important;
 color: white !important;
 border-radius: 20px;
}

.row .address{
  margin: 0px;
}

.footerimages{
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.footerbackground{
  background-color: #316DC3  ;
}

.headerimages{

  width: 20px;
  height: 20px;
  margin-left: 15px;

}

.marquee1{
  margin: 0px 120px;
}

@media (max-width:1085px)
{
  .marquee1{
    margin: 0px 90px;
  }
  
}


@media (max-width:979px)
{
  .marquee1{
    margin: 0px 120px;
  }
  
}

@media (max-width:869px)
{
  .marquee1{
    margin: 0px 80px;
  }
  
}


@media (max-width:658px)
{
  .marquee1{
    margin: 0px ;
  }
  
}


.headimage{
  margin-left: 13px;
}

.footimage{
  margin-left: 8px;

  
 
}







  
  