*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 .container1{
   background-color:#316DC3;
 }
 
 /* a{
    margin: 5px;
 } */
 
 .container-fluid .row{
   justify-content: center;
   align-items: center;
   
 }
 
 .row p{
   margin: 12px auto;
   
 }
 
 button{
   border:none;
   font-size: 12px;
   color:green;
   padding:4px;
 }
 
 
 @media (max-width:988px)
 {
   button{
     border:none;
     font-size: 12px;
     color:green;
     padding:4px;
     margin:10px;
     
 
   }
 
 
 
   .image{
     margin-top:10px;
   }
 }
 
 .logo{
   height: 65px;
   width: 170px;
   
 }
 



 
  ul li :hover{
    background-color: #316DC3;
    color:white !important;
    border-radius: 20px;
    transition: 0.5s;
  }

  .navbar{
    font-weight: bold;
  }

  .container1 h1{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 4px;
  }

marquee{
  background-color:#316DC3;
  color:white;

 
  
}

marquee a{
  color:purple;
}


.intro{
   display: flex;
   justify-content: center;
}

.mcolor{
  color:#00FF00;
}

.statscolor{
  background: rgba(36,79,242,0.8);
  padding:45px;

  
}

.stathfont{
  font-size: 50px;
}

.rowmargin{
  margin: 0 60px;
}

@media (max-width:990px)
{
  .itemmargin{
    margin:30px;
  }
}


@media ( max-width:991px)
{
  ul li :hover{
    background-color: #316DC3;
    color:white !important;
    border-radius: 0px;
    transition: 0.5s;
    
  }
}

